# imports

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hasaki,JP,2021-11-23 22:09:13,35.7333,140.8333,45.00,58,0,17.72
1,1,Tasiilaq,GL,2021-11-23 22:05:42,65.6145,-37.6368,21.36,59,36,5.95
2,2,Ushuaia,AR,2021-11-23 22:09:14,-54.8000,-68.3000,44.26,81,75,9.22
3,3,Caravelas,BR,2021-11-23 22:09:14,-17.7125,-39.2481,72.21,86,26,6.26
4,4,Dunedin,NZ,2021-11-23 22:05:07,-45.8742,170.5036,58.73,59,100,1.81

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Heatmap creation

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# Orginal: heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Add a center and zoom level to adjust image
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

## Humidity

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Cloudiness

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

## Wind

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Customer input

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Tiarei,PF,2021-11-23 22:09:15,-17.5333,-149.3333,87.82,76,98,4.56
11,11,Atuona,PF,2021-11-23 22:09:16,-9.8000,-139.0333,77.81,77,27,15.08
14,14,Rikitea,PF,2021-11-23 22:09:17,-23.1203,-134.9692,76.89,81,30,15.01
16,16,Vaini,TO,2021-11-23 22:09:17,-21.2000,-175.2000,84.36,84,20,4.61
18,18,Luziania,BR,2021-11-23 22:09:18,-16.2525,-47.9503,78.49,65,100,4.94
26,26,Touros,BR,2021-11-23 22:09:20,-5.1989,-35.4608,81.50,79,55,15.10
34,34,Puerto Ayora,EC,2021-11-23 22:09:22,-0.7393,-90.3518,76.96,76,28,11.65
35,35,Kudahuvadhoo,MV,2021-11-23 22:09:23,2.6708,72.8944,81.27,74,85,18.25
37,37,Brokopondo,SR,2021-11-23 22:09:23,4.7500,-55.1667,80.26,78,96,7.14
42,42,Hilo,US,2021-11-23 22:05:30,19.7297,-155.0900,80.33,69,1,8.05

In [16]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

# Hotel Info

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7         Tiarei      PF     87.82 -17.5333 -149.3333
11        Atuona      PF     77.81  -9.8000 -139.0333
14       Rikitea      PF     76.89 -23.1203 -134.9692
16         Vaini      TO     84.36 -21.2000 -175.2000
18      Luziania      BR     78.49 -16.2525  -47.9503
26        Touros      BR     81.50  -5.1989  -35.4608
34  Puerto Ayora      EC     76.96  -0.7393  -90.3518
35  Kudahuvadhoo      MV     81.27   2.6708   72.8944
37    Brokopondo      SR     80.26   4.7500  -55.1667
42          Hilo      US     80.33  19.7297 -155.0900

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Tiarei,PF,87.82,-17.5333,-149.3333,Le Rocher de Tahiti
11,Atuona,PF,77.81,-9.8000,-139.0333,Villa Enata
14,Rikitea,PF,76.89,-23.1203,-134.9692,People ThankYou
16,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
18,Luziania,BR,78.49,-16.2525,-47.9503,HOTEL SARON
26,Touros,BR,81.50,-5.1989,-35.4608,INN NEW HORIZON
34,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
35,Kudahuvadhoo,MV,81.27,2.6708,72.8944,Niyama Private Islands Maldives
37,Brokopondo,SR,80.26,4.7500,-55.1667,Matu Island
42,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel

In [21]:
# # Add a heatmap of temperature for the vacation spots.


# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#              max_intensity=300, point_radius=4)

# fig.add_layer(heat_layer)
# # Call the figure to plot the data.
# fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))